<div id="appContainer">
  <div class="flexCol">
    <div class="additionalSection">
      <div class="flexContainer">
        <p class="flexItem titleText">{{ doneSection.sectionTitle }}</p>
      </div>
      <form class="taskForm">
        <div
          cdkDropList
          #doneSectionDropList="cdkDropList"
          [cdkDropListData]="doneSection.taskList"
          [cdkDropListConnectedTo]="[
            doneSectionDropList,
            backLogSectionDropList,
            nowSectionDropList,
            ownSectionDropList,
            delegateSectionDropList,
            trashSectionDropList
          ]"
          (cdkDropListDropped)="drop($event)"
          class="dropSection"
        >
          <app-task
            *ngFor="let task of doneSection.taskList"
            [listName]="doneSection.sectionTitle"
            [ident]="task[0]"
            [desc]="task[1]"
            (deleteInParent)="deleteTask($event)"
            (changeTaskValue)="updateTask($event)"
            cdkDrag
          ></app-task>
        </div>
      </form>
    </div>
  </div>

  <div class="flexCol">
    <div class="matrixCard">
      <div class="flexContainer">
        <p class="flexItem titleText">{{ nowSection.sectionTitle }}</p>
        <button
          mat-mini-fab
          class="flexItem addBtn"
          (click)="addTask(nowSection.sectionTitle)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <form class="taskForm">
        <div
          cdkDropList
          #nowSectionDropList="cdkDropList"
          [cdkDropListData]="nowSection.taskList"
          [cdkDropListConnectedTo]="[
            doneSectionDropList,
            backLogSectionDropList,
            nowSectionDropList,
            ownSectionDropList,
            delegateSectionDropList,
            trashSectionDropList
          ]"
          (cdkDropListDropped)="drop($event)"
          class="dropSection"
        >
          <app-task
            *ngFor="let task of nowSection.taskList"
            [listName]="nowSection.sectionTitle"
            [ident]="task[0]"
            [desc]="task[1]"
            (deleteInParent)="deleteTask($event)"
            (changeTaskValue)="updateTask($event)"
            cdkDrag
          ></app-task>
        </div>
      </form>
    </div>
    <div class="matrixCard">
      <div class="flexContainer">
        <p class="flexItem titleText">{{ delegateSection.sectionTitle }}</p>
        <button
          mat-mini-fab
          class="flexItem addBtn"
          (click)="addTask(delegateSection.sectionTitle)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <form class="taskForm">
        <div
          cdkDropList
          #delegateSectionDropList="cdkDropList"
          [cdkDropListData]="delegateSection.taskList"
          [cdkDropListConnectedTo]="[
            doneSectionDropList,
            backLogSectionDropList,
            nowSectionDropList,
            ownSectionDropList,
            delegateSectionDropList,
            trashSectionDropList
          ]"
          (cdkDropListDropped)="drop($event)"
          class="dropSection"
        >
          <app-task
            *ngFor="let task of delegateSection.taskList"
            [listName]="delegateSection.sectionTitle"
            [ident]="task[0]"
            [desc]="task[1]"
            (deleteInParent)="deleteTask($event)"
            (changeTaskValue)="updateTask($event)"
            cdkDrag
          ></app-task>
        </div>
      </form>
    </div>
  </div>

  <div class="flexCol">
    <div class="matrixCard">
      <div class="flexContainer">
        <p class="flexItem titleText">{{ ownSection.sectionTitle }}</p>
        <button
          mat-mini-fab
          class="flexItem addBtn"
          (click)="addTask(ownSection.sectionTitle)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <form class="taskForm">
        <div
          cdkDropList
          #ownSectionDropList="cdkDropList"
          [cdkDropListData]="ownSection.taskList"
          [cdkDropListConnectedTo]="[
            doneSectionDropList,
            backLogSectionDropList,
            nowSectionDropList,
            ownSectionDropList,
            delegateSectionDropList,
            trashSectionDropList
          ]"
          (cdkDropListDropped)="drop($event)"
          class="dropSection"
        >
          <app-task
            *ngFor="let task of ownSection.taskList"
            [listName]="ownSection.sectionTitle"
            [ident]="task[0]"
            [desc]="task[1]"
            (deleteInParent)="deleteTask($event)"
            (changeTaskValue)="updateTask($event)"
            cdkDrag
          ></app-task>
        </div>
      </form>
    </div>
    <div class="matrixCard">
      <div class="flexContainer">
        <p class="flexItem titleText">{{ trashSection.sectionTitle }}</p>
        <button
          mat-mini-fab
          class="flexItem addBtn"
          (click)="addTask(trashSection.sectionTitle)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <form class="taskForm">
        <div
          cdkDropList
          #trashSectionDropList="cdkDropList"
          [cdkDropListData]="trashSection.taskList"
          [cdkDropListConnectedTo]="[
            doneSectionDropList,
            backLogSectionDropList,
            nowSectionDropList,
            ownSectionDropList,
            delegateSectionDropList,
            trashSectionDropList
          ]"
          (cdkDropListDropped)="drop($event)"
          class="dropSection"
        >
          <app-task
            *ngFor="let task of  trashSection.taskList"
            [listName]="trashSection.sectionTitle"
            [ident]="task[0]"
            [desc]="task[1]"
            (deleteInParent)="deleteTask($event)"
            (changeTaskValue)="updateTask($event)"
            cdkDrag
          ></app-task>
        </div>
      </form>
    </div>
  </div>
  <div class="flexCol">
    <div class="additionalSection">
      <div class="flexContainer">
        <p class="flexItem titleText">{{ backLogSection.sectionTitle }}</p>
        <button
          mat-mini-fab
          class="flexItem addBtn"
          (click)="addTask(backLogSection.sectionTitle)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <form class="taskForm">
        <div
          cdkDropList
          #backLogSectionDropList="cdkDropList"
          [cdkDropListData]="backLogSection.taskList"
          [cdkDropListConnectedTo]="[
            doneSectionDropList,
            backLogSectionDropList,
            nowSectionDropList,
            ownSectionDropList,
            delegateSectionDropList,
            trashSectionDropList
          ]"
          (cdkDropListDropped)="drop($event)"
          class="dropSection"
        >
          <app-task
            *ngFor="let task of backLogSection.taskList"
            [listName]="backLogSection.sectionTitle"
            [ident]="task[0]"
            [desc]="task[1]"
            (deleteInParent)="deleteTask($event)"
            (changeTaskValue)="updateTask($event)"
            cdkDrag
          ></app-task>
        </div>
      </form>
    </div>
  </div>
</div>
