#appContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #205159;
  min-height: 100vh;
  max-width: 100vw;
  flex-flow: row wrap;

  .flexCol {
    flex-grow: 1;
    padding: 20px;
  }
}

:host ::ng-deep .flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

:host ::ng-deep  .titleText{
    font-size: 20pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

:host ::ng-deep .taskForm{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}