#appContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #205159;
  min-height: 100vh;
  max-width: 100vw;
  flex-flow: row wrap;

  .flexCol {
    flex-grow: 1;
    padding: 20px;
  }
}

:host ::ng-deep .flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.titleText{
    font-size: 20pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.taskForm{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.additionalSection{
  margin-top: 1rem;
  height: 92vh;
  background-color: #ffffffd4;
  color: black;
  padding: 1rem;
}
.additionalSection > .taskForm{
  height: 95%;
}

.matrixCard {
  margin-top: 1rem;
  height: 30vh;
  background-color: #424242b3;
  padding: 1rem;
}
.matrixCard > .taskForm {
  height: 80%;
}
.dropSection{
  position: relative;
  height: 100%;
}