<div class="login-container">
    <div class="login-form">
      <h2 class="title">Login</h2>
      <form (ngSubmit)="submit()">
        <div class="form-group">
          <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
          <label for="username" class="form-label">Username</label>
        </div>
        <div class="form-group">
          <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
          <label for="password" class="form-label">Password</label>
        </div>
        <a href="/reset-password" class="forgot-password">Passwort vergessen?</a>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>