<div class="taskContainer" (id)=ident (listName)=listName>
  <mat-checkbox (change)="checkboxHandler($event.checked)" [checked]="doneState"></mat-checkbox>
  <mat-form-field appearance="fill">
    <mat-label>Task</mat-label>
    <textarea matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    matInput [(ngModel)]="desc"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="3"
    (change)="sendChangeToParent();"></textarea>
    <button type="button" matSuffix mat-icon-button (click)="removeTask(); $event.preventDefault()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-form-field>
</div>
