.taskContainer {
  display: flex;
  align-items: center;

  mat-checkbox{
    margin-right: 1rem;
  }

  mat-form-field{
    position: relative;
    width: 100%;

    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }
  }

}
