@import "src/utils/variables";

$checkbox-width: 16px;

.taskContainer {
  padding-bottom: $spacing;

  mat-checkbox{
    display: inline-block;
    width: $checkbox-width;
    transform: translateY(-7px);
    margin-right: $spacing;
  }

  mat-form-field{
    width: calc(100% - #{$checkbox-width} - #{$spacing});

    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }
  }
}
